@font-face {
    font-family: 'icoonmoon';
    src: url('./fonts/zdm_icon.ttf');
    src: url('./fonts/zdm_icon.svg');
    src: url('./fonts/zdm_icon.woff');
    src: url('./fonts/zdm_icon.woff2');
}
.hello {
    color: red;
    background: url('./unicorn.jpg');
}
.hello:after {
    content: "\e945";
    font-family: 'icoonmoon' !important;
    font-size: 16px;
     speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;   
}